html,body{
    height:99vh;
}
body{
    display:flex;
    flex-direction:column;
    justify-content: space-between; 
    
    
}
nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

main{
    display:flex;
    flex-direction:column;
    justify-content: center; 
    align-items: center;
}
header{
    
}
footer{
    display:flex;
    flex-direction:row;
    justify-content: space-between; 
    align-items: center;
    background-color: #F2F2F2;
    height: 8.58em;

}
#ftlayout{
    margin: 10px 10px 10px 10px;
}
#sign-in{
    color: white;
    font-size: 16px;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: .4em;
    background-color: #2376E5;
    border:none;
}
#google{
    color: #3C4043;
    font-size: 13px;
    padding-top: .9em;
    padding-bottom: .8em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    border-radius: .4em;
    background-color: #F8F9FA;
    border:none;

}
#lucky{
    color: #3C4043;
    font-size: 13px;
    padding-top: .9em;
    padding-bottom: .8em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    border-radius: .4em;
    background-color: #F8F9FA;
    border:none;
}
#search{
    width: 50%;
    border:solid;
    border-width: .2px;
    /* padding-top: 1.5em; */
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
    
}
#search-bar{
    width:90%;
    border:none;
}
#magnify{
    width:10%
    padding-top: 2em;
    color: #9AA0A6;
}
nav>div>div>a,nav>div>a{
    color: black;
}
   
